
<app-menu></app-menu>

<h2>En cines</h2>

<app-listado-peliculas [peliculas]="peliculasEnCine" ></app-listado-peliculas>

<h2>Peliculas en proximos estrenos</h2>

<app-listado-peliculas [peliculas]="peliculasEnProximosEstrenos" ></app-listado-peliculas>


<!-- <div *ngFor="let pelicula of peliculas; let indice = index">
  <p>Película: {{pelicula.titulo}}</p>
  <p>Fecha lanzamiento: {{pelicula.fechaLanzamiento  | date:"dd-MM-yyyy" }}</p>
  <p>Price: {{pelicula.precio | currency }}</p>
</div> -->


<!-- Variable de referencia de plantilla -->

<!-- <input type="file" style="display: none;" #CargadorArchivos >
<button (click)="CargadorArchivos.click()">Cargar archivos</button> -->
