<app-menu></app-menu>

<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- <div *ngFor="let pelicula of peliculas; let indice = index">
  <p>Película: {{pelicula.titulo}}</p>
  <p>Fecha lanzamiento: {{pelicula.fechaLanzamiento  | date:"dd-MM-yyyy" }}</p>
  <p>Price: {{pelicula.precio | currency }}</p>
</div> -->


<!-- Variable de referencia de plantilla -->

<!-- <input type="file" style="display: none;" #CargadorArchivos >
<button (click)="CargadorArchivos.click()">Cargar archivos</button> -->