/* .contenedor-peliculas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: auto;
  padding: 20px;
}

.contenedor-peliculas .pelicula:hover {
  transform: scale(1.1);
} */

.contenedor-peliculas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: auto;
  align-items: center;
}

.pelicula {
  margin-right: 2%;
  margin-bottom: 10px;
  text-align: center;
}

p {
  font-size: 15px;
  max-width: 225px;
  font-weight: bold;
}

button {
  margin-left: 1rem
}